NEXT_PUBLIC_SUPABASE_URL=https://norgagwgnxoxvygvkmsi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vcmdhZ3dnbnhveHZ5Z3ZrbXNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzOTgwODksImV4cCI6MjA3OTk3NDA4OX0.l4-EpG9nEbQK8-3x8XKyhb8jg0tBwTnaRjxFBVUJoGo
